@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.title {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: 'Roboto Slab', serif;

  .blue {
    color: $blue;
  }

  .red {
    color: $red;
  }

  .gray {
    color: $gray;
  }

  &.sub {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.z-column-header.z-last {
  border-right: none !important;
}

.z-header {
  padding-right: 0 !important;
}

.z-content-wrapper-fix {
  max-width: none !important;
}
